@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .filled {
        font-variation-settings: "FILL" 1;
    }

    .filled-hover {
        font-variation-settings: "FILL" 0;
    }

    .filled-hover:hover {
        font-variation-settings: "FILL" 1;
    }

    .list-dashed {
        list-style-type: none;
    }

    .list-dashed > li::before {
        content: " - ";
        @apply text-primary-400;
    }

    .text-shadow {
        text-shadow: white 1px 1px 0, white -1px 1px 0, white -1px -1px 0, white 1px -1px 0;
        font-weight: bold;
    }
}

/* Colors */

:root {
    --color-50: #ecfdf5;
    --color-100: #d1fae5;
    --color-200: #a7f3d0;
    --color-300: #6ee7b7;
    --color-400: #34d399;
    --color-500: #10b981;
    --color-600: #059669;
    --color-700: #047857;
    --color-800: #065f46;
    --color-900: #064e3b;
    --color-950: #022c22;
}

html[data-theme="slate"] {
    --color-50: #f8fafc;
    --color-100: #f1f5f9;
    --color-200: #e2e8f0;
    --color-300: #cbd5e1;
    --color-400: #94a3b8;
    --color-500: #64748b;
    --color-600: #475569;
    --color-700: #334155;
    --color-800: #1e293b;
    --color-900: #0f172a;
    --color-950: #020617;
}

html[data-theme="red"] {
    --color-50: #fef2f2;
    --color-100: #fee2e2;
    --color-200: #fecaca;
    --color-300: #fca5a5;
    --color-400: #f87171;
    --color-500: #ef4444;
    --color-600: #dc2626;
    --color-700: #b91c1c;
    --color-800: #991b1b;
    --color-900: #7f1d1d;
    --color-950: #450a0a;
}

html[data-theme="orange"] {
    --color-50: #fff7ed;
    --color-100: #ffedd5;
    --color-200: #fed7aa;
    --color-300: #fdba74;
    --color-400: #fb923c;
    --color-500: #f97316;
    --color-600: #ea580c;
    --color-700: #c2410c;
    --color-800: #9a3412;
    --color-900: #7c2d12;
    --color-950: #431407;
}

html[data-theme="amber"] {
    --color-50: #fffbeb;
    --color-100: #fef3c7;
    --color-200: #fde68a;
    --color-300: #fcd34d;
    --color-400: #fbbf24;
    --color-500: #f59e0b;
    --color-600: #d97706;
    --color-700: #b45309;
    --color-800: #92400e;
    --color-900: #78350f;
    --color-950: #451a03;
}

html[data-theme="lime"] {
    --color-50: #f7fee7;
    --color-100: #ecfccb;
    --color-200: #d9f99d;
    --color-300: #bef264;
    --color-400: #a3e635;
    --color-500: #84cc16;
    --color-600: #65a30d;
    --color-700: #4d7c0f;
    --color-800: #3f6212;
    --color-900: #365314;
    --color-950: #1a2e05;
}

html[data-theme="blue"] {
    --color-50: #eff6ff;
    --color-100: #dbeafe;
    --color-200: #bfdbfe;
    --color-300: #93c5fd;
    --color-400: #60a5fa;
    --color-500: #3b82f6;
    --color-600: #2563eb;
    --color-700: #1d4ed8;
    --color-800: #1e40af;
    --color-900: #1e3a8a;
    --color-950: #172554;
}

html[data-theme="indigo"] {
    --color-50: #eef2ff;
    --color-100: #e0e7ff;
    --color-200: #c7d2fe;
    --color-300: #a5b4fc;
    --color-400: #818cf8;
    --color-500: #6366f1;
    --color-600: #4f46e5;
    --color-700: #4338ca;
    --color-800: #3730a3;
    --color-900: #312e81;
    --color-950: #1e1b4b;
}

html[data-theme="purple"] {
    --color-50: #faf5ff;
    --color-100: #f3e8ff;
    --color-200: #e9d5ff;
    --color-300: #d8b4fe;
    --color-400: #c084fc;
    --color-500: #a855f7;
    --color-600: #9333ea;
    --color-700: #7e22ce;
    --color-800: #6b21a8;
    --color-900: #581c87;
    --color-950: #3b0764;
}

html[data-theme="pink"] {
    --color-50: #fdf2f8;
    --color-100: #fce7f3;
    --color-200: #fbcfe8;
    --color-300: #f9a8d4;
    --color-400: #f472b6;
    --color-500: #ec4899;
    --color-600: #db2777;
    --color-700: #be185d;
    --color-800: #9d174d;
    --color-900: #831843;
    --color-950: #500724;
}

/* Specialization */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
}

/* Vector */

body[data-special="vector"] .overlay {
    display: block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-size: 100% 8px;
}

body[data-special="vector"] {
    background-color: black;
}

body[data-special="vector"] main {
    border-radius: 3vh/50%;
    padding-left: 3vh;
    padding-right: 3vh;
    overflow: hidden;
}

body[data-special="vector"] header > span {
    color: transparent;
    user-select: none;
}

body[data-special="vector"] header > span::before {
    content: "Vector";
    display: block;
    width: 100%;
    pointer-events: none;
    text-align: center;
    @apply text-primary-400;
    position: absolute;
    z-index: 10;
    user-select: none;
}

/* Shrimple */

body[data-special="shrimple"] {
    background: url("/background1.png");
    background-size: cover;
    background-position: right;
}

body[data-special="shrimple"] main {
    background-color: black;
}

body[data-special="shrimple"] header > span {
    color: transparent;
    user-select: none;
}

body[data-special="shrimple"] header > span::before {
    content: "Shrimple";
    display: block;
    width: 100%;
    pointer-events: none;
    text-align: center;
    @apply text-primary-400;
    position: absolute;
    z-index: 10;
    user-select: none;
}
